JWT_SECRET=secret

# MongoDB connection string for connecting to the database
MONGODB_URL=mongodb+srv://rahul_giet:rahul_giet@studynotion.nnlvxb4.mongodb.net/GIET_ELMS?retryWrites=true&w=majority

# Hostname of the mail server used for sending emails
MAIL_HOST=smtp.gmail.com

# Username of the email account used for sending emails
MAIL_USER=gietelms@gmail.com

# Password of the email account used for sending emails
MAIL_PASS=ccoppowcezzumzrc

RAZORPAY_KEY=rzp_test_kb5AcO12ClOdNx

RAZORPAY_SECRET=xppBaYY7PybVHlm1iYWIhp1M

#Cloudinary Configuration
CLOUD_NAME=dm1hqitro

API_KEY=641299822562443

API_SECRET=WP3Xo4nQaEcYVeFbbKCsu_2jfT8

#######################################################

##GMAIL
#New App pass = csxcoovgrpudhmzg
#New Email = elms.giet@gmail.com

##Cloudinary
#CLOUD_NAME=dxukn1vzr
#API_KEY=767316186141777
#API_SECRET=SRvfPA2_q2P1fHRjpKBJ39F9lO0
#FOLDER_NAME=ELMS

#######################################################
